#leftbar
{
margin-right: 50px;
	align:center;
	height:380px;
	background-color:#993300;
	border-radius:5px;
	float:left;
	width:15%;
	overflow:hidden;
}
#leftbar
{
margin-right: 50px;
	align:center;
	height:380px;
	background-color:#993300;
	border-radius:5px;
	float:left;
	width:15%;
	overflow:hidden;
}